@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    34 Shaddock St<br />
    Eden Terrace<br />
    Auckland, New Zealand<br/>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@industryconnect.co.nz">Support@industryconnect.co.nz</a><br />
</address>