@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Image/sms_logo.jpg"alt="main" style="max-width:1020px;max-height:510px"/>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        
        <p>
            Industry Connect is aiming to make participants job-ready by the end of the programme, therefore meeting both the participants need and a broader industry need.
        </p>
        <p><a class="btn btn-default" href="http://www.industryconnect.co.nz/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Bluehost is a leading web solutions services provider. Since our founding in 2003, Bluehost has continually innovated new ways to deliver on our mission: to empower people to fully harness the web. Based in Orem, Utah, we provide comprehensive tools to millions of users throughout the world so anyone, novice or pro, can get on the web and thrive.</p>
        <p><a class="btn btn-default" href="https://www.bluehost.com/">Learn more &raquo;</a></p>
    </div>
</div>