@model IEnumerable<SchoolManagement.Models.Person>

@{
    ViewBag.Title = "StudentManagement";
}

<h2>Student Management</h2>

<p>
    <button class="btn btn-default">Create New</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Enrollment Date</th>
        </tr>
    </thead>

@foreach (var i in Model)
{
    <tr>
        <td>@i.PersonID</td>
        <td>@i.FirstName</td>
        <td>@i.LastName</td>
        <td>@i.EnrollmentDate</td>
        <td>
            <button class="btn btn-primary">Edit</button>
            <button class="btn btn-danger">Delete</button>
            <button class="btn btn-info">Details</button>
        </td>
    </tr>
}

</table>
